body {
    font-family: 'Smooch Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 60px;
}

h1 {
    font-size: 4rem;
    font-weight: 50;
}

h2, h3 {
    font-size: 2.5rem;
    font-weight: 50;
}

p {
    font-size: 1.2rem;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #201c24;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    z-index: 1000;
}

.top-bar img{
    height: 50px;
    max-height: 100%;
    margin-left: 15px;
}

.home header{
    background-image: url(/imagenes/pizza.jpg);
}

.promo header{
    background-image: url(/imagenes/amor.jpg);
}

.contact header{
    background-image: url(/imagenes/manos.jpg);
}

.about header{
    background-image: url(/imagenes/hombre.jpg);
}

header {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: overlay;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 20px;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 12px;
    font-weight: lighter;
}

.nav-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links ul li {
    margin: 0 15px;
}

.nav-links ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

.nav-links ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

.wall {
    width: 100%;
    height: 300px;
    background-image: url('/imagenes/bakery.jpg');
    background-size: cover;
    background-position: center;
}

.text-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: #201c24;
    color: whitesmoke;
    padding: 20px;
    text-align: center;
}

.text-columns h1 {
    text-align: center;
    margin: 0;
}

.text-columns div:nth-child(3) {  
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.text-columns div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    height: 100%;
}

.image-links {
    display: flex;
    width: 100%;
    gap: 10px;
}

.image-container {
    position: relative;
    flex: 1;
}

.image-container img {
    width: 100%;
    height: auto;
}

.image-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    opacity: 0.7;
}

.image-link:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
}


.info_1{
    background-color: white;
}

.info_2{
    background-color: pink;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 50%;
    margin: auto;
}

.row {
    display: flex;
    gap: 10px;
    width: 100%;
}

.row img {
    width: 48%;
    height: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.column img {
    width: 100%;
    height: auto;
}

.large-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: span 2; 
}
