body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 60px;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    z-index: 1000;
}

.top-bar img{
    height: 50px;
    max-height: 100%;
    margin-left: 15px;
}

.nav-links {
    margin-left: auto; /* Empuja los links a la derecha */
}

.nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links ul li {
    margin-left: 20px;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

.nav-links ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

.home header{
    background-image: url(/imagenes/pizza.jpg);
}

.promo header{
    background-image: url(/imagenes/amor.jpg);
}

.contact header{
    background-image: url(/imagenes/manos.jpg);
}

.about header{
    background-image: url(/imagenes/hombre.jpg);
}

header {
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    font-weight: lighter;
}

